DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/DATABASE"
PORT=3000
CLOUDINARY_URL="cloudinary://<api_key>:<api_secret>@<name>"
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
JWT_SECRET=
JWT_ACCESS_SALT=
JWT_REFRESH_SALT=
JWT_INVITE_TOKEN_SALT=